/*
 Author:       lowjoh
 Description:  lowjoh personal site Theme
 Author URI:   http://lowjoh.github.io
 Version:      1.0.1
*/
body {
  height: 100vh;
  background: -o-linear-gradient(71deg, #bf2f62 2.1%, #03a0b1);
  background: linear-gradient(19deg, #bf2f62 2.1%, #03a0b1);
  font-family: 'Gafata', sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(136 215 230);
  text-decoration: none;
}

a:hover {
  color: rgb(136 215 230);
  /* text-shadow: 2px 2px #901b4a; */
}

h1 {
  font: normal small-caps 2.05em Gafata;
  color: #ffffff;
  text-transform: none;
  margin: 0.2em 0;
}

img {
  height: auto;
  max-width: 100%;
}

.content {
  margin-top: 10vh;
  padding: 0 10vw;
}

.profile-bio {
  max-width: 400px;
}

.linkedinlink {
  width: 30px;
  margin-top: 5px
}

.rotating-photo {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.rotating-photo img {
  min-height: 100vh;
  min-width: 100vw;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width : 320px) {
  .content {
    padding: 0 0vw;
  }
}

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  .content {
    margin-top: 0vh;
  }
}

@media only screen and (max-width : 480px) {}

@media (min-width: 1400px) {
  .content {
    font-size: 1.286em;
    line-height: 1.6em;
    padding-left: 20vw;
  }

  .profile-bio {
    max-width: 420px;
  }
}
